<div class="row col-lg-12 activeBar1">
    <div class="left_activeBar1 col-lg-3">

    </div>
    <div class="middle_activeBar1 col-lg-6">
        <div id="player_activeBar1">
            <button id="btnPrev_activeBar1"></button>
            <button id="btnPlay_activeBar1" class="play"></button>
            <button id="btnNext_activeBar1"></button>
            <div id="activeBar1_center">
                <div id="topLine">
                    <div id="activeBar1_mediaTitle">
                    </div>
                    <div id="activeBar1_time">
                            <span id="activeBar1_tracktime">
                                00:00
                            </span>
                        &nbsp;/&nbsp;
                        <span id="activeBar1_durationTime">
                            00:00
                        </span>
                    </div>

                </div>

                <div id="activeBar1_timeline">
                    <div id="activeBar1_playhead"></div>
                </div>
            </div>

        </div>


    </div>
    <div class="right_activeBar1 col-lg-3">

    </div>


</div>


