<div id="media-player">

    <div id="player" class="col-lg-12">
        <div id="player-left" class="col-lg-2">
            <img id="btn_play"/>
        </div>
        <div id="player-middle" class="col-lg-8">
            <h2 id="audio_played"></h2>
            <div class="col-lg-12" id="timeline">
                <div id="playhead"></div>
            </div>
            <h3 id="artist_played"></h3>
        </div>
        <div id="player-right" class="col-lg-2">
            <div id="button_prevNext">
                <img id="btn_prev"/>
                <img id="btn_next"/>
            </div>
            <div id="counter">
                <span id="track_time">00:00</span>
                <span id="count_separate">/</span>
                <span id="track_duration">00:00</span>
            </div>
        </div>
    </div>
    <div id="trackList" class="col-lg-12">
        <div id="trackList_titles">
            <div class="title col-lg-3">
                Titre
            </div>
            <div class="artist col-lg-3">
                Artiste
            </div>
            <div class="duree col-lg-2">
                Durée
            </div>
            <div class="share col-lg-2">
                Partager
            </div>
            <div class="download col-lg-2">
                Télécharger
            </div>
        </div>
        <div id="trackList_music" class="mCustomScrollbar" data-mcs-theme="light-3">

            <!-- REMPLI AVEC JAVASCRIPT-->

        </div>

    </div>

</div>